@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animate-text {
    animation: text 5s ease infinite;
  }
  
  @keyframes text {
    0%, 100% {
      background-size: 200% 200%;
      background-position: left center;
    }
    50% {
      background-size: 200% 200%;
      background-position: right center;
    }
  }
}

@layer base {
  body {
    @apply antialiased text-gray-100;
  }
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-black/20;
}

::-webkit-scrollbar-thumb {
  @apply bg-violet-600 rounded-full;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-violet-700;
}